<footer class="container">
    <div class="site-footer">
        <div class="copyright pull-left">
            您是第
            个访问者，感谢您的光临!
        </div>
        <a href="https://github.com/ityouknow" target="_blank" aria-label="view source code">
            <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
        </a>

        <div class="pull-right">
            <a href="javascript:window.scrollTo(0,0)">TOP</a>
        </div>

    </div>
    <!-- Third-Party JS -->
    <script type="text/javascript" src="/html/js/geopattern.min.js"></script>
    <!-- My JS -->
    <script type="text/javascript" src="/html/js/script.js"></script>

</footer>
