
<header class="site-header">
    <div class="container">
        <a id="site-header-brand" href="http://www.ityouknow.com/" title="贤仁">
            <span class="octicon octicon-mark-github"></span> 贤仁
        </a>
        <nav class="site-header-nav" role="navigation">

            <a href="/blog/index" class=" site-header-nav-item hvr-underline-from-center" target="" title="Home">
                Home
            </a>

            <a href="/blog/spring-boot" class=" site-header-nav-item hvr-underline-from-center" target="" title="Spring-Boot">
                Spring-Boot
            </a>

            <a href="/blog/open-source" class=" site-header-nav-item hvr-underline-from-center" target="" title="Open-Source">
                Open-Source
            </a>

            <a href="/blog/all" class=" site-header-nav-item hvr-underline-from-center" target="" title="Blog">
                Blog
            </a>

            <a href="/blog/link" class=" site-header-nav-item hvr-underline-from-center" target="" title="Link">
                Link
            </a>

            <a href="/blog/about" class=" site-header-nav-item hvr-underline-from-center" target="" title="About">
                About
            </a>

        </nav>
    </div>
</header>
